//data-table-detail.component.scss
.detail-data-area {
  padding: 0px; 
}

.detail-top, .detail-bottom {
  display: flex;
  align-items: center;
  padding: 8px;
}
.detail-bottom {
  justify-content: space-between;
}
.detail-bottom {
  position: sticky;
  bottom: 0;
  //background-color: var(--main-white);  /* sau o altă culoare care să asigure contrastul */
  z-index: 1000;
  padding: 8px;
 }

.detail-title {
  color: var(--main-blue0); /* Albastru mai închis */
  padding: 0 0 0 12px;
  margin: 0;
}

.detail-top button, .detail-bottom button {
  font-size: 0.8rem;       
  padding: 0.5rem 0.9rem;  
  min-width: 40px;         
  box-sizing: border-box;  
  border: none;
  color: white;
  background-color: var(--main-blue0);
  cursor: pointer;
}
.detail-top button i, .detail-bottom button i {
  color: white;
}
.detail-top button:hover, .detail-top button:hover i, 
.detail-bottom button:hover, .detail-bottom button:hover i {
  background-color: var(--main-white2);
  color: var(--main-blue0);
}

.detail-bottom button.w3-right {
  margin-left: auto;
  font-size: 14px ;
}


.page-frame-tabs {
  position: sticky;
  top: 0;
  padding-top: 8px;
  background-color: #ffffff;  /* Fundal opac ca să nu se vadă conținutul de dedesubt */
  z-index: 10;               /* Nivel ridicat pentru a acoperi conținutul scrollabil */
}
.page-frame {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 8px 8px 8px;
  color: var(--main-blue0);
  height: calc(100dvh - 158px - env(safe-area-inset-bottom));

  overflow: auto;
  position: relative;
}

.tabs {
  background-color: #ffffff;
  list-style: none;
  display: flex;
  top: 0;
  position: sticky;
  z-index: 10;
  margin: 0 0 16px 0;
  padding: 0;
  li {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid var(--main-blue0);
    
    &:hover {
      color: var(--main-blue2);
    }
    
    &.active {
      color: var(--main-blue0);
      border: 1px solid var(--main-blue0);
      border-radius: 8px 8px 0 0;
      border-bottom: none;
      position: relative;
      /* Aplicăm umbrele doar pentru sus, stânga și dreapta */
      box-shadow: 
        0 -4px 8px rgba(0, 0, 0, 0.1),  // umbră sus
        -4px 0 8px rgba(0, 0, 0, 0.1),  // umbră stânga
         4px 0 8px rgba(0, 0, 0, 0.1);
    }
    
    &.active::after {
      content: "";
      position: absolute;
      bottom: -8px; // poziționează puțin în afara elementului pentru a acoperi efectul blur al umbrei
      left: -8px;   // extinde pseudo-elementul pentru a acoperi umbrele "scurse" lateral
      right: -8px;
      height: 8px;  // înălțimea trebuie să fie suficientă pentru a acoperi umbra
      background-color: #ffffff; // culoarea de fundal, adapteaz-o dacă e diferită
      z-index: 2;
      pointer-events: none; // astfel încât nu interferează cu interacțiunea
    }
  }
}

/* Containerul general pentru toate grupurile */
.fields-container {
  width: 100%; 
  display: block;
}

/* Container pentru fiecare grup de câmpuri (de exemplu, "sosire" sau "plecare") */
.group-container {
  display: flex;             /* Elemente aliniate pe rând */
  flex-direction: row;       
  gap: 16px;                 /* Spațiere între câmpuri */
  align-items: center;       /* Aliniere verticală */
  flex-wrap: nowrap;         /* Nu permite ruperea pe mai multe linii */
  width: 100%;
}

.fields-container table.w3-table {
  margin-top: 16px;
  font-size: 14px;
}

/*.fields-container table.w3-table th,
.fields-container table.w3-table td {
  padding: 8px 12px;
}
.fields-container table.w3-table tr:nth-child(even) {
  //background-color: #f9f9f9;
}
*/

.fields-container table.w3-table th {
  font-size: 16px;
  font-weight:normal;
  background-color: var(--main-blue0);
  color: white;
}

