thead {
    position: sticky;
    top: 0;
}

thead th {
    background-color: var(--main-blue0);
    position: sticky;
    top: 0;
}

.table-title {
    color: var(--main-blue0); /* Albastru mai închis */
}

.record-count {
  font-size: 16px;
  display: inline-block;
}

.table-container {
    overflow-y: auto; 
    width: 100%;
    height: calc(100vh - 110px);
}

.table-header {
    position: sticky;
    top: 0; 
    text-align: left;
}
.table-header th {
    background-color: var(--main-blue0);
    color: white;
}

.table-search {
    position: sticky;
    top: 0;
    text-align: left; 
  }
.table-search th {
  padding: 0px 1px 4px 4px;
}
th .w3-input {
    width: 100%; /* Asigură că input-ul se întinde pe întreaga lățime */
    box-sizing: border-box; /* Împiedică depășirea marginilor */
    background-color: var(--main-white0);
    padding: 2px;
  }

  .search-input {
    margin-bottom: 10px; /* Spațiere între câmpurile de căutare */
  }
  
  .column-title {
    cursor: pointer; 
    font-weight: normal; /* Titlurile de coloană bold */
  }

  .column-search {
    font-weight:lighter; /* Titlurile de coloană bold */
  }

  .search-input {
    margin-bottom: 10px; /* Spațiere între câmpurile de căutare */
  }

  thead th .arrow {
    font-weight:bolder;
    font-size: 14px; /* Aumentează dimensiunea săgeții */
    color: yellow;   /* Schimbă culoarea săgeții în galben */
    margin-left: 5px; /* Adaugă un pic de spațiu între textul antetului și săgeată */
  }

  thead th .sorted {
    font-style: italic;
    color: yellow;
  }

  .table-top {
    display: flex;
    justify-content: space-between; /* Aliniază titlul și butonul la extremități */
    align-items: center; /* Centrează vertical elementele */
    padding-right: 14px;
}

.table-top .refresh-button {
    background-color: var(--main-blue0);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.table-top .refresh-button:hover {
    background-color:var(--main-blue2);
}
.table-top .refresh-button i {
  color: white;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.total-row {
    font-weight: bold; // Makes the total row text bold
    border-top: 2px solid  var(--main-blue0); // Add a solid black border on top
    //color:  var(--main-blue); // Optional: Change background color for distinction
}
tbody {
  color: var(--main-blue0);
}


.table-filter-area {
  //display: flex;
  //justify-content: space-between;
  align-items: flex-end; // Aliniază elementele la partea de jos
  margin-bottom: 8px;
  //padding: 15px;
  background-color: #f8f9fa; // Fundal deschis
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Umbră subtilă
}

.table-filter-fields {
  display: flex;
  gap: 10px; // Spațiu între câmpuri
  //align-items: flex-end; // Aliniază elementele la partea de jos
}

.table-filter-reset button {

}

.filter-field {
  //flex: 1; // Asigură că câmpurile ocupă spațiu egal
  display: flex;
  align-items: center; /* Aliniază vertical label și input */
  gap: 8px;
}

.filter-field label {
  font-size: 14px;
  color: #555;
}

.filter-field input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease;
}

.filter-field input:focus {
  border-color: #007bff;
  outline: none;
}

.fas.fa-times {
  color: white;
}