.list-top {
  display: flex;
  justify-content: space-between; /* Aliniază titlul și butonul la extremități */
  align-items: center; /* Centrează vertical elementele */
  padding: 0 8px 0 8px;
}
.list-top h4 {
  padding: 0;
  margin: 0;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  color: white;
  margin-bottom: 4px;
  padding: 2px 8px 2px 8px;
  font-size: medium;
}

.table-filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f9fa; // Fundal deschis
  border-radius: 8px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Umbră subtilă
  //margin: 0;
  padding: 6px 8px 6px 8px; 
  //border: 1px solid  var(--main-blue0); // Add a solid black border on top
}

.table-title {
  color: var(--main-blue0); /* Albastru mai închis */
}

.record-count {
  font-size: 14px;
  display: inline-block;
}

.table-container {
  overflow-y: auto;
  width: 100%;
  max-height: calc(100dvh - 178px - env(safe-area-inset-bottom));
  padding: 0 2px 0 2px;
  //border-radius: 8px;
}

.table-header {
    position: sticky;
    top: 0; 
    text-align: left;
    background-color: var(--main-blue0);
}
.table-header th {
    color: white;
    text-align: center;
    cursor: pointer; 
    font-weight: normal;
}

.table-search {
    position: sticky;
    top: 34px;
    text-align: left; 
    background-color: var(--main-blue0);
}
.table-search th {
  font-weight:lighter; /* Titlurile de coloană bold */
  border: 1px solid var(--main-blue0); // Add a solid black border on top
  padding: 1px; //8px 2px 8px 2px;
}

.table-search .w3-input {
    //width: 100%; 
    box-sizing: border-box; 
    background-color: var(--main-white0);
    padding: 4px 4px 4px 4px;
}
  
  thead th .arrow {
    font-weight:bolder;
    font-size: 12px;
    color: yellow; 
    margin-left: 5px;
  }

  thead th .sorted {
    font-style: italic;
    color: yellow;
  }

.table-filter-fields, .table-filter-fields input, tbody {
  color: var(--main-blue0);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.total-row {
    font-weight: bold; // Makes the total row text bold
    border-top: 2px solid  var(--main-blue0); // Add a solid black border on top
    //color:  var(--main-blue); // Optional: Change background color for distinction
}

.table-filter-reset,
.table-filter-fields,
.table-filter-refresh {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  cursor: pointer;
  color: white;
}

.table-filter-form, .table-filter-fields  {
  margin: 0 auto;
  display: flex;
}
.table-filter-fields .filter-field {
  padding: 2px;
}

.action-buttons button, 
.table-filter-reset button,
.table-filter-refresh button {
  background-color:var(--main-blue0);
  font-size: 0.9rem;       
  padding: 0.5rem 0.6rem;  
  min-width: 40px;         
  box-sizing: border-box;  
  border: none; 
  color: white;
  cursor: pointer;
}
.action-buttons button {
  margin-right: 8px;
}

.action-buttons button i, 
.table-filter-reset button i,
.table-filter-refresh button i {
  color: white;
}

.action-buttons button:hover, 
.table-filter-reset button:hover,
.table-filter-reset button:hover i,
.table-filter-refresh button:hover,
.table-filter-refresh button:hover i {
  background-color: var(--main-white2);
  color: var(--main-blue0);
}


table.w3-table tr.selected {
  background-color: var(--main-blue0); // poți alege orice culoare potrivită
  color: white; // poți alege orice culoare potrivită
}

