thead {
    position: sticky;
    top: 0;
}

thead th {
    background-color: var(--main-blue0);
    position: sticky;
    top: 0;
}

.table-title {
    color: var(--main-blue0); /* Albastru mai închis */
}

.record-count {
  font-size: 16px;
  display: inline-block;
}

.table-container {
  max-height: 100vh;  /* sau calc(100vh - [alte elemente fixe], de exemplu: calc(100vh - 120px)) */
  overflow-y: auto;
  width: 100%;
  max-height: calc(100vh - 180px);
}

.table-header {
    position: sticky;
    top: 0; 
    text-align: left;
}
.table-header th {
    background-color: var(--main-blue0);
    color: white;
}

.table-search {
    position: sticky;
    top: 0;
    text-align: left; 
  }
.table-search th {
  padding: 0px 1px 4px 4px;
}
th .w3-input {
    width: 100%; /* Asigură că input-ul se întinde pe întreaga lățime */
    box-sizing: border-box; /* Împiedică depășirea marginilor */
    background-color: var(--main-white0);
    padding: 2px;
  }

  .search-input {
    margin-bottom: 10px; /* Spațiere între câmpurile de căutare */
  }
  
  .column-title {
    cursor: pointer; 
    font-weight: normal; /* Titlurile de coloană bold */
  }

  .column-search {
    font-weight:lighter; /* Titlurile de coloană bold */
  }

  .search-input {
    margin-bottom: 10px; /* Spațiere între câmpurile de căutare */
  }

  thead th .arrow {
    font-weight:bolder;
    font-size: 14px; /* Aumentează dimensiunea săgeții */
    color: yellow;   /* Schimbă culoarea săgeții în galben */
    margin-left: 5px; /* Adaugă un pic de spațiu între textul antetului și săgeată */
  }

  thead th .sorted {
    font-style: italic;
    color: yellow;
  }

  .table-top {
    display: flex;
    justify-content: space-between; /* Aliniază titlul și butonul la extremități */
    align-items: center; /* Centrează vertical elementele */
    //padding-right: 14px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.total-row {
    font-weight: bold; // Makes the total row text bold
    border-top: 2px solid  var(--main-blue0); // Add a solid black border on top
    //color:  var(--main-blue); // Optional: Change background color for distinction
}
tbody {
  color: var(--main-blue0);
}


.table-filter-area {
  display: flex;
  align-items: center;       /* Aliniere verticală la centru */
  justify-content: space-between; /* Distribuie spațiul între elemente */
  //gap: 1rem;
  width: 100%;

  padding: 8px;
  background-color: #f8f9fa; // Fundal deschis
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Umbră subtilă
}


.table-filter-reset,
.table-filter-fields,
.table-filter-refresh {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  cursor: pointer;
}

.table-filter-form, .table-filter-fields,  {
  margin: 0 auto;
  display: flex;  
}

.table-filter-reset button,
.table-filter-refresh button {
  font-size: 0.8rem;       
  padding: 0.3rem 0.6rem;  
  min-width: 40px;         
  box-sizing: border-box;  
  border: none;
}

.table-filter-reset button i,
.table-filter-refresh button i {
  color: white;
}

.table-filter-reset button:hover,
.table-filter-refresh button:hover {
  background-color:var(--main-blue2);
}
.table-filter-reset button,
.table-filter-refresh button  {
  background-color:var(--main-blue0);
}

.filter-field {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 1rem;
}

.filter-field label {
  color: #555;
}

.filter-field input {
  padding: 8px;
  border: 1px solid #ddd;
  color: #333;
  background-color: #f8f9fa;
  cursor: pointer;
}

.filter-field input:focus {
  border-color: #007bff;
  outline: none;
}

.fas.fa-times {
  color: white;
}