<!-- data-table-detail.component.html -->
<div *ngIf="!detailMode">
  <ng-content select="[list]"></ng-content>
</div>

<!-- Zona de detaliu: afișează header-ul cu butonul "Inapoi" și page frame-ul cu tab-uri -->
<div   *ngIf="detailMode; else loading">

<!-- Zona de detaliu cu tab-uri și câmpuri dinamice -->
<div class="detail-data-area w3-container w3-border w3-round">

    <div class="detail-top w3-container w3-light-grey w3-border w3-round w3-padding-large">
      <button class="w3-left w3-round" (click)="onCancel()"><i class="fas fa-arrow-left"></i></button>
    </div>

    <div class="page-frame w3-container w3-border w3-round">
      <!-- Tab-urile secțiunilor -->
      <ul class="tabs">
        <li *ngFor="let section of sections"
            (click)="selectSection(section)"
            [class.active]="activeSection === section">
          {{ section.label }}
        </li>
      </ul>

      <!-- Afișează câmpurile secțiunii active, dacă există -->
      <div>
      
        <!-- Dacă secțiunea activă se afișează ca tabel -->
        <!-- //////////////////////////////////////////////////////////// -->
        <div *ngIf="activeSection?.displayAsTable; else normalFields" class="fields-container">
          <table class="w3-table w3-bordered w3-hoverable">
            <thead>
              <tr>
                <th *ngFor="let field of activeSection?.fields" [ngStyle]="{'text-align': field.align || 'left'}">{{ field.label }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of getTableRows(activeSection!)">
                <td *ngFor="let field of activeSection?.fields" [ngStyle]="{'text-align': field.align || 'left'}">
                  <ng-container [ngSwitch]="field.type">
                    <ng-container *ngSwitchCase="'check'">
                      <span class="checkbox-display">
                        {{ row[field.name] == 1 ? '✔' : '' }}
                      </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span>{{ row[field.name] || '' }}</span>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- //////////////////////////////////////////////////////////// -->

        <!-- Afișare normală (pentru secțiunile care nu sunt tabelare) -->
        <!-- //////////////////////////////////////////////////////////// -->
        <ng-template #normalFields>
          <div *ngIf="(activeSection?.fields || []).length > 0; else noFields" class="fields-container">
            <ng-container *ngFor="let groupFields of groupedFields">
              <div class="group-container">
                <div *ngFor="let field of groupFields" class="detail-field">
                 <!--<div class="labels-row" [ngStyle]="{'text-align': field.align || 'left'}">
                    <label [ngStyle]="{'text-align': field.align || 'left'}">{{ field.label }}:</label>
                  </div>-->
                  <div class="inputs-row" [ngStyle]="{'text-align': field.align || 'left'}">
                    <ng-container [ngSwitch]="field.type">
                      <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="no-focus-style">
                        <mat-label>{{ field.label }}</mat-label>  <!-- [placeholder]="field.placeholder || field.label" -->
                        <input matInput [formControl]="getControl(field.name)" class="">
                      </mat-form-field>

                      <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="uniform-width no-focus-style">
                        <mat-label>{{ field.label }}</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="getControl(field.name)" class="">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field *ngSwitchCase="'textarea'" appearance="outline" class="uniform-width no-focus-style">
                        <mat-label>{{ field.label }}</mat-label>
                        <textarea matInput [formControl]="getControl(field.name)" class=""></textarea>
                      </mat-form-field>


                      <mat-form-field *ngSwitchCase="'autocomplete'" appearance="outline" class="uniform-width no-focus-style">
                        <mat-label>{{ field.label }}</mat-label>
                        <input matInput 
                               [formControl]="getControl(field.name)"
                               [matAutocomplete]="auto"
                               (input)="onInputChange($event, field)"
                               (focus)="onInputFocus($event, field)">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutocompleteFactory(field.name)">
                          <mat-option *ngFor="let option of autocompleteOptions[field.name]" [value]="option">
                            {{ option ? option[field.name] : '' }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-template>
        <!-- ////////////////////////////////////////////////////////////////// -->

        <ng-template #noFields>
          <p>Nu există câmpuri de afișat pentru această secțiune.</p>
        </ng-template>
        
      </div>

    </div>

    <div class="detail-bottom w3-container w3-light-grey w3-border w3-round w3-padding-large">
      <button class="w3-left w3-round" (click)="onCancel()"><i class="fas fa-arrow-left"></i></button>
      <button class="w3-right w3-round" (click)="onSave()"><i class="fas fa-save"></i> Salvează</button>
    </div>

</div>

</div>
<ng-template #loading>
<p>Se incarca...</p>
</ng-template> 