<!-- pv.component.html -->
<div *ngIf="filteredData.length; else noData">
    <app-data-table 
      [title]="'PROCESE VERBALE'"
      [filteredData]="filteredData"
      [columns]="columns"
      [columnLabels]="columnLabels"
      [filterFields]="filterFields"
      (formReady)="onFormReady($event)" 
      (filterChange)="onFilterDatabaseChange($event)"
      (filterDatabaseChange)="onFilterDatabaseChange($event)"
      (resetFilters)="onResetFilters()"
      [recordCount]="recordCount"
    >
    </app-data-table>
  </div>
  <ng-template #noData>
    <p *ngIf="errorMessage; else noDataMessage">{{ errorMessage }}</p>
    <ng-template #noDataMessage>Asteptati incarcarea datelor...</ng-template>
  </ng-template>