<!-- Componenta de detalii-->
<app-data-table-detail 
    [sections]="sections" 
    [currentRecordDetail]="currentRecordDetail"
    [fieldValues]="fieldValues" 
    #wrapper 
    (detailRequested)="onRecordDblClick($event)">
    
  <!-- Zona de listă: se păstrează exact logica existentă -->
  <div list>
    <ng-container *ngIf="filteredData.length; else noData">
      <app-data-table 
        [title]="'PROCESE VERBALE'"
        [filteredData]="filteredData"
        [columns]="columns"
        [columnLabels]="columnLabels"
        [filterFields]="filterFields"
        (formReady)="onFormReady($event)" 
        (filterChange)="onFilterDatabaseChange($event)"
        (filterDatabaseChange)="onFilterDatabaseChange($event)"
        (resetFilters)="onResetFilters()"
        [recordCount]="recordCount"
        (detailRequired)="onRecordDblClick($event)"
      >
      </app-data-table>
    </ng-container>
    <ng-template #noData>
      <p *ngIf="errorMessage; else noDataMessage">{{ errorMessage }}</p>
      <ng-template #noDataMessage>
        Incarcare lista...
      </ng-template>
    </ng-template>
  </div>

  <!-- Zona de detaliu: se afișează doar după dublu-click, conform secțiunilor definite -->
  <!--
  <div detail>
    <ng-container [ngSwitch]="wrapper.activeSection?.label">
      <div *ngSwitchCase="'Antet'">
        <p>Descriere: {{ currentRecordDetail?.obs }}</p>
        <p>JSON:</p>
        <pre>{{ currentRecordDetail | json }}</pre>
      </div>
      <div *ngSwitchCase="'Manopera'">
        <p>Detalii Manopera...</p>
      </div>
      <div *ngSwitchDefault>
        <p>Detalii secțiune</p>
      </div>
    </ng-container>
  </div> 
-->
</app-data-table-detail>
