:root {
    --main-blue0 : #485F99; /* cel mai inchis */
    --main-blue1 : #617199; /* mai deschis */
    --main-blue2 : #747d96; /* cel mai deschis */

    --main-white0: #e1e5f0; /* cel mai deschis */
    --main-white1: #d9dff1; /* mai deschis */
    --main-white2: #BABECE; /* cel mai inchis */
  }
html, body {
    height: 100%; /* Asigură că html și body ocupă întreaga înălțime */
    margin: 0; /* Elimină marginile implicite */
    overflow: hidden;
    background-color: var(--main-white0); /* Albastru mai închis */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Normalizează dimensiunile elementelor */
}

.fas {
    color: var(--main-blue0);
  }
.fa-bars {
    font-size: 24px; /* Mărește dimensiunea iconiței */
  }


  .tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black; /* Linie punctată sub text */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--main-blue0); //#555;
    color: white; //#fff;
    text-align: center;
    border-radius: 6px;

    border-width: 0.1px;
    border-style: solid;
    border-color: var(--main-blue0);

    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Poziționează tooltip-ul deasupra textului */
    left: 50%;
    margin-left: -60px; /* Centrează tooltip-ul */
    opacity: 0;
    transition: opacity 0.4s;
    white-space: pre-line;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--main-blue0) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.85;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-focus-style input:focus, .no-focus-style textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}